<table id="form_reports"  width="80%" align="center" style="background-color:silver" cellpadding="2" cellspacing="0">
<tr>
<td width="20%" style="padding-left: 10; background-color: silver;"><%= button_to 'Back to main page', root_path %></td>
<td width="60%" style="padding-left: 10; background-color: silver;"> <%= button_to 'Cardholders', cardholders_path, :method => 'get' %></td>
<td><%= button_to 'Reports', reports_path, :method => 'get' %></td>
</tr>
</table>
<table id="form_cards"  width="80%" align="center" cellpadding="2" cellspacing="0"  border="1">
  <tr><td width="20%" style="padding-left: 10; background-color: silver;">

<%= button_to 'New card', new_card_path, :method => 'get' %>

<% form_tag cards_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search by card number", :cardnumber => nil %>
  </p>
<% end %>


<% @cards.each do |card| %>
	
    <%= link_to "#{card.cardnumber}", cards_path(:c_id=>card.id)  %>
   
    <%#= link_to 'Show', card %>
    <%#= link_to 'Edit', edit_card_path(card) %>
    <%#= link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete %>
<br />
<% end %>

</td>
    <td width="80%" style="padding-left: 10; background-color: silver;">
&nbsp;
<% unless @card.nil? %>

 <% form_for(@card) do |card_form| %>
<table id="table"  width="100%" align="center" style="background-color:silver" cellpadding="2" cellspacing="0" border="1">
<tr>
<td width="20%">Card number</td><td><%= h @card.cardnumber %>&nbsp;</td>
</tr>
<tr>
<td>Cardholder</td><td colspan="2">
<%= (link_to "#{@cardholder['firstname']} #{@cardholder['lastname']}}", @cardholder ) unless @cardholder.nil?%><br />
&nbsp;</td>
</tr>
</table>
    <%= link_to 'Show', @card %>
    <%= link_to 'Edit', edit_card_path(@card) %>
    <%#= link_to 'Destroy', @card, :confirm => 'Are you sure?', :method => :delete %>
    <%= link_to 'Destroy',destroy_card_path(:id=>@card.id), :confirm => 'Are you sure?' %>
 <% end %>
</td>
  </tr>
</table>

<% end %>


